.side-event-container {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    margin: 10px;
    margin-top:20px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    max-height:350px;
}


.side-event-container::-webkit-scrollbar {
    width: 12px;
    background: #adc9cd;
}

.side-event-container::-webkit-scrollbar-thumb {
    background: #015d67;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}


.side-event-container * {
    font-size: 15px;
}

.side-event-container i {
    color: grey;
    cursor: default;
}

.side-event-container i:hover {
    color: grey;
}


.side-event-title {
    font-size: 16px;
    font-weight: 560;
    padding-bottom: 8px;

}

.side-event-category {
    font-style: italic;
    max-width:130px;
}

.side-event-bttns {
    display: flex;
    justify-content: right;
    gap: 15px;
}

.side-event-bttns i {
    cursor: pointer;
    color: #015d67;
    font-size: 18px;
}


.side-event-cat-bttns {
    display: flex;
    justify-content: space-between;
}

.event-edit-cancel {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100vh;
    z-index: 2;
}


.eve-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}


.eve-logo{
max-width:120px;
max-height:60px;
}
