/* TODO Add site wide styles */
body * {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    color: rgba(45, 46, 47, 1);
    word-wrap: break-word;
}

body i{
    cursor: pointer;
    color:#015d67;
}

body i:hover {
    color: #00BFA5;
}

body {
    background-color: #FFFFFF;
}

body input:focus {
    outline: none;
}

body textarea:focus {
    outline: none;
}

body textarea {
    resize: none;
}
