
.month-outer{
margin-top:10px;
display: flex;
flex-direction: column;
gap:5px;

}

.month-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid #adc9cd;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}



.month-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #adc9cd;
    padding:6px;
    margin-bottom:-5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;


}
.month-weekdays div{
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight:530;
}
