.calendar-header-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
    margin-bottom: 10px;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    width: 100%;
    border: 1px solid rgb(219,219,219);
    background-color: #FFFFFF
}

.calendar-header-left {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.calendar-header-month {
    font-size: 24px;
    font-weight: 560;
    min-width: 190px;
}

.cal-month-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.cal-month-nav i {
    cursor: pointer;
    font-size: 22px;
}

.cal-month-nav button {
    cursor: pointer;
    font-size: 12px;
    border: 2px solid #262626;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 550;
}

.cal-month-nav button:hover {
    color: grey;
    border: 2px solid grey;
}

.calendar-header-center {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 600px;
    align-items: center;
}


.cal-sel {
    display: flex;
    justify-content: center;

}

.cal-sel select {
    font-size: 16px;
    font-weight:bold;
    border:2px solid #262626;
    border-radius: 4px;
    padding:3px;
}

.cal-sel select:hover {
color:grey;
    border:2px solid grey;

}

.cal-sel select:focus {
    outline: none;
}

.cal-des {

    font-style:italic;
    word-wrap: break-word;
    max-height: 50px;
    overflow: auto;
}

.calendar-header-right {
    margin-right: 35px;
    width:190px;
    display: flex;
    justify-content: right;
}


.cal-add-buttons {
    display: flex;
    gap: 20px;
}

.cal-add-buttons i {
    cursor: pointer;
    font-size: 22px;
}
