.calendar-header-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    width: 100%;
    background-color: #FFFFFF;
    min-width: 850px;
    margin-bottom: -10px;
}

.calendar-header-left {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.calendar-header-month {
    font-size: 24px;
    font-weight: 560;
    min-width: 190px;
}

.cal-month-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.cal-month-nav i {
    color:#015d67;
    cursor: pointer;
    font-size: 22px;
}

.cal-month-nav button {
    cursor: pointer;
    font-size: 14px;
    border:none;
    background-color: transparent;
    font-weight: 550;
    color:#015d67;
}

.cal-month-nav button:hover {
    color: #00BFA5;

}

.calendar-header-center {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 450px;
    align-items: center;
}


.cal-sel {
    display: flex;
    justify-content: center;

}

.cal-sel select {
    font-size: 16px;
    font-weight: bold;
    color:#015d67;
    border:none;
    border-bottom:2px solid #009688;
    padding: 3px;
    cursor: pointer;
}

/* .cal-sel select:hover {
    color: #caf0c1;

} */

.cal-sel select:focus {
    outline: none;
}

.cal-des {
    max-width: 450px;
    font-style: italic;
    word-wrap: break-word;
    max-height: 50px;
    overflow: auto;
    padding-right: 5px;
    padding-left: 5px;
}

.calendar-header-right {
    margin-right: 40px;
    width: 190px;
    display: flex;
    justify-content: right;
}


.cal-add-buttons {
    display: flex;
    gap: 20px;
}

.cal-add-buttons i {
    cursor: pointer;
    font-size: 22px;
    color:#015d67;
}
