.add-event-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight:560;
    margin-top:5px;
    margin-right:5px;

}


.add-event-container {
    padding: 10px;
    background-color: white;
}

.add-event-form {
    display: flex;
    flex-direction: column;
}

.add-start-div {
    display: flex;
}
