.add-event-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight:560;
    margin-top:3px;
    margin-right:3px;

}

.add-event-button:hover {
color:grey;
}


.add-event-container {
    padding: 25px;
    background-color: white;
    border-radius: 6px;
}

.add-event-form {
    display: flex;
    flex-direction: column;
}

.add-start-div {
    display: flex;
}
/*
input[type="time"]::-webkit-calendar-picker-indicator {

} */
