.day-container{
    border:1px solid lightgrey;
    height:125px;
}

.day-header{
    display: flex;
    justify-content: right;
}


.day-current{
background-color: lightgrey;

}

.day-event{
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
cursor:pointer;
}
