.day-container{
    border:1px solid lightgrey;
    height:100px;
}

.day-header{
    display: flex;
    justify-content: right;
}

.day-number{
border-radius: 50%;
cursor: pointer;
}

.day-current{
background-color: lightgrey;
}
