.day-container {
    border: 1px solid lightgrey;
    height: 130px;
    overflow: auto;
}

.day-header {
    display: flex;
    justify-content: right;
}

.day-grey button{
    color: lightgrey;
}

.day-current {
    background-color: rgba(211, 211, 211, .5)
}

.day-event {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 4px;
    padding:1px;
    padding-left:5px;
    margin-bottom:2px;
}

.day-body{
    margin-top:-3px;
    padding:5px;
}
