.edit-cal-title-def {
    display: flex;
    align-items: center;
    gap: 6px;
}

.edit-cal-title {
    background-color: #d5e4e6;;
    padding: 5px;
    border-radius: 4px;
    width: 200px;
    font-weight: 560;
    border: none;
}

/* .edit-cal-title:focus {
    background-color: rgba(211, 211, 211, .4);
    border: 1px solid lightgrey;
} */

.edit-cal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.edit-cal-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.edit-cal-text-div textarea {
    width: 400px;
    height: 60px;
    background-color: #d5e4e6;
    border-radius: 4px;
    padding: 5px;
    border: none;
}

/* .edit-cal-text-div textarea:focus {
    background-color: rgba(211, 211, 211, .4);
    border: 1px solid lightgrey;
} */



.edit-cal-buttons button {
    background-color: transparent;
    border: none;

}

.edit-cal-buttons button i {
    font-size: 20px;
}
