.add-cal-container {
    padding: 25px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.add-cal-mod-header {
    font-size: 16px;
    font-weight: 560;

}

.add-cal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-cal-title input {
    width: 270px;
    padding: 5px;
    border: none;
    background-color: #d5e4e6;;
    border-radius: 4px;
}

/* .add-cal-title input:focus{
    background-color: rgba(211, 211, 211,.4);
    border:1px solid lightgrey;
    } */
.add-cal-des textarea {
    width: 270px;
    height: 60px;
    padding: 5px;
    border: none;
    background-color: #d5e4e6;;
    border-radius: 4px;
}

/* .add-cal-des textarea:focus {
    background-color: rgba(211, 211, 211,.4);
    border:1px solid lightgrey;
    } */

.add-cal-tog {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-cal-bg{
    padding-left:5px;
}

#bg-select{
background-color:#d5e4e6;
width:138px;
border:none;
padding:4px;
border-radius: 4px;
cursor: pointer;
}

.add-cal-tog-bttns {
    padding-left:5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-cal-bttns{
    display: flex;
    gap:6px;
}

.add-cal-bttns button {
    background-color: transparent;
    border: none;
}

.add-cal-bttns button i{
    font-size: 22px;
}
